.hover-dropdown{
  position: relative;
  display: inline-block;
}
.hover-dropdown:hover ul.list-menu{
  display: block;
}
.list-menu{
  position: absolute;
  left: 0px;
  top: 42px;
  display: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  background: #eee;
  min-width: 150px;
}
.list-menu li:hover{
  background: #9500ce;
}
.list-menu li:hover a{ 
  color: #fff;
}
.list-menu li a{
  text-decoration: none;
  padding: 6px 12px;
  display: block;

}
.btn-dropdown{
  text-decoration: none;
  padding: 12px;
  background: #bcbce6;
  display: inline-block;
  color: #9500ce;
}